$body-bg: shade-color(white, 6%);
$body-bg-dark: tint-color($body-bg-dark, 10%);

body { 
    background-color: $body-bg;
}

@include color-mode(dark) {
    body { 
        background-color: $body-bg-dark;
    }
}